# dotfiles
.vscode/
.gitignore
**/tsconfig.json
.eslintrc.json
.eslintignore
.prettierrc
.npmrc

# source code
src/
**/*.map
**/*.ts

# test and output
test/
.vscode-test/
test-workspace/
out/test/
*.vsix
*.zip
