# dotfiles
.vscode/
.gitignore
**/tsconfig.json
**/jsconfig.json
**/.eslintrc.js
.eslintrc.json
.eslintignore
.prettierrc
.npmrc

# source code
src/
**/*.map
**/*.ts

# test and output
test/
.vscode-test/
test-workspace/
out/test/
playground
assets/screenshot
*.vsix
*.zip

# ignore all deps
node_modules
